FRONTEND_URL=https://simbawaujamaa.com
BACKEND_URL=https://prince-of-pan-africa-backend.onrender.com
ALLOWED_ORIGINS=https://simbawaujamaa.com,https://www.simbawaujamaa.com,https://prince-of-pan-africa-frontend.onrender.com

OPENAI_API_KEY=
AIVOICE_BASE_URL=https://aivoice-wmrv.onrender.com
AIVOICE_API_KEY=
OPENVOICE_URL=https://ffmpeg-9xhs.onrender.com
JWT_SECRET=
